html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 45px; /* Margin bottom by footer height */
}

.myHeader{
	/*width: 100%;*/
	max-height: 200px;
	margin: auto;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 45px;
	background-color: orange;
}

#more_top{
top: 40px;
}

.borde{
	border:3px;
	border-style: solid;
	border-color: orange;
}

.top10{
	margin-top: 10px;
}

.top30{
	margin-top: 30px;
}

.top50{
	margin-top: 50px;
}

.centered{
	text-align: center;
}

.justified{
	text-align: justify;
}

.bottom-space{
	padding-bottom: 30px;
}

.iconHead{
	height: 80px;
	width: 80px;
}

.iconLeft{
	height: 30px;
	width: 30px;
}

.black{
	background-color: black;
}

.iconRight{
	right: :0;
	height: 30px;
	width: 30px;
}

.centeredElement{
	margin: 10px auto auto auto;
}

.header-image{
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-height: 200px;
	width: 100%;
	max-width: 600px;

	
}

#whiteAudio {
	background-color: white;
}

#whiteAudio:hover {
	background-color: white;
}

audio{
	width:100%;
}

.peliPrincipal{
	max-height: 400px;
	max-width: 250px;
	width: 100%;
}

.peliSecundaria{
	
	height: 100%;
	max-height: 170px;
	/*max-width: 85px;*/
	width: 100%;
	max-width: 140px;

}

.critica{
	max-height: 400px;
	width: 100%;
}

#map{
	min-height: 400px;
}

.small_img{
	width: 100%;
}
